@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
    border: none;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    margin: 20px;
}

.title {
    font-size: 2rem;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

#logo-image {
    height: 100px;
    display: block;
    margin-bottom: 10px;
}

#log-label {
    margin-top: 20px;
}

#log {
    padding-left: 20px;
}

.file-tree {
    
}

.file-tree-item {
    display: flex;
    align-items: center;
}


.file-tree-item-directory-icon {
    margin-right: 5px;
    color: rgb(148, 203, 255);
    cursor: pointer;
}

.file-tree-item-file-icon {
    margin-right: 5px;
    color: rgb(153, 153, 153);
    padding: 0;
    cursor: pointer;
}

.file-tree-item-link {
    color: blue;
    text-decoration: underline;
}

.file-tree-item-name {
    cursor: pointer;
}

.file-tree-item-name:hover {
    color: blue;
}

.file-tree-item-children {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.file-tree-sections {
    display: flex;
}

.file-tree-section {
    margin: 20px;
}

.file-tree-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 1p
    border-bottom: none;
    margin-bottom: 5px;
}

code {
    font-family: monospace;
    padding: 1px 2px;
    border-radius: 2px;
    background-color: rgb(226, 226, 226);
}

.file-tree-title code {
    margin-left: 5px;
    font-size: 0.9em;
    font-weight: 400;
}